@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/animaciones';

.episode-card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $dark-1;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    background-color: $purple-2;
    max-width: 180px;
    max-height: 180px;
    min-width: 180px;
    min-height: 180px;
    overflow: hidden;
    transition: all .3s ease-out;
    &:hover{
        border-radius: 60px 60px 0px 60px;
        border: 2px solid $rym-green;
    }
    &:hover .episode-card-bg-image{
        -webkit-filter: opacity(50%);
    }
    &:hover .episode-bullseye{
        display: flex;
        z-index: 1;
        scale: 350%;
        cursor: pointer;
        position: absolute;
        top: 95%;
        left: 95%;
        animation: pulse 1s ease-in-out infinite;
    }

    .episode-name{
        font-family: 'rym';
        font-size: 1.4rem;
        color: $rym-green;
        text-align: center;
        z-index: 1;
    }

    .episode-bullseye{
        display: none;
        transition: all .3s ease-in-out;
        &:hover{
            scale: 450%;
            background-color: $purple-2;
            border-radius: 100px;
        }
    }

    .episode-code{
        font-family: 'quest';
        font-size: .8rem;
        color: $rym-green;
        letter-spacing: .2rem;
        z-index: 1;
    }

    .episode-card-bg-image{
        display: flex;
        position: absolute;
        top: 0;
        left: -260px;
        width: fit-content;
        z-index: 0;
        -webkit-filter: opacity(0%);
        transition: all .3s ease;
    }
}