@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/animaciones';
@import '../utils/breakpoints';

.Home-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    .spacer{
        min-height: 75px;
        min-width: 100vw;
    }

    .welcome-box{
        display: flex;
        justify-content: center;
        .welcome{
            @include title-1('rym',1rem, $purple-2);
            padding: 25px;
            font-weight: 900;
        }
    }

    .box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include respond-to('lg'){
            flex-direction: row;
            margin: 0 5vw
        }
        @include respond-to('md'){
            flex-direction: row;
            margin: 0 5vw
        }
        @include respond-to('sm'){
            flex-direction: row;
            margin: 0 5vw
        }
    }

    .box-1{
        @include box-properties($purple-2, $bg-img-01, 2px solid $purple-2);
        height: calc(100vh / 4);
        background-position: 0px -650px;
        animation: popOut .5s ease-out;
    }
    .box-2{
        @include box-properties($purple-2, $bg-img-02, 2px solid $purple-2);
        height: calc(100vh / 4);
        background-position: 0px -200px;
        animation: popOut .7s ease-out;
    }
    .box-3{
        @include box-properties($purple-2, $bg-img-03, 2px solid $purple-2);
        height: calc(100vh / 4);
        background-position: 0px -400px;
        animation: popOut .9s ease-out;
    }

    .box-1, .box-2, .box-3{
        position: relative;
        overflow: hidden;
        opacity: 90%;
        margin: 3px 25vw;
        &:hover{
            opacity: 100%;
            border: -25px solid $purple-2;
        }
        &:hover .bgImage{
            filter: sepia(100%) blur(2px) brightness(65%);
        }
        &:hover .button{
            scale: 100% !important;
        }
        &:hover .description{
            scale: 100% !important;
            animation: gettingDark .5s ease;
        }
        @include respond-to('lg'){
            margin: 5px;
            min-height: 70vh;
        }
        @include respond-to('md'){
            margin: 5px;
            min-height: 70vh;
        }
        @include respond-to('sm'){
            margin: 5px;
            min-height: 70vh;
        }
    }
    .box-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; /* Asegura que el botón esté encima de la caja */
    }

    .button{
        margin: 10px;
        scale: 0% !important;
        &:hover{
            box-shadow: 0px 0px 120px $rym-green;
        }
    }
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'quest';
        color: $rym-green;
        text-align: center;
        scale: 0;
        width: 1000px;
        height: 200px;
        border-radius: 4px;
        background-color: rgba(32, 27, 61, 0.5);
        padding: 35px;
        margin-bottom: 5px;
        transition: all 0s ease;

        @include respond-to('lg'){
            min-height: 70vh;
            width: auto;
            padding: 50px;
        }
        @include respond-to('md'){
            min-height: 70vh;
            width: auto;
            padding: 50px;
        }
        @include respond-to('sm'){
            min-height: 70vh;
            width: auto;
            padding: 50px;
        }
    }

    .home-option-title{
        margin: 0;
        padding: 10px;
        font-family: 'rym';
    }

    .bgImage{
        display: flex;
        width: 100%;
        height: max-content;
        position: relative;
        bottom: 500px;
        animation: scrollUpSomething 10s ease-in-out infinite;
        filter: sepia(0%) blur(0px) brightness(90%);
        transition: filter .3s ease-out;
        &:hover{
            filter: sepia(100%);
        }
        @include respond-to('custom'){
            animation: none;
            bottom: 0;
        }
        @include respond-to('xxl'){
            bottom: 150px;
        }
        @include respond-to('xl'){
            bottom: 150px;
        }
        @include respond-to('lg'){
            bottom: 0;
            height: 100%;
            width: auto;
        }
        @include respond-to('md'){
            bottom: 0;
            height: 100%;
            width: auto;
        }
        @include respond-to('sm'){
            bottom: 0;
            height: 100%;
            width: auto;
        }
    }

    .bgImageReverse{
        animation: scrollUpSomething 10s ease-in-out infinite;
    }

}